<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
      <h2 >Withdraw</h2>
      <p>
        <a class="theme-btn" (click)="requestFund()">
            + Request Fund
        </a>
    </p>
    </div>
    <div class="row mb-3 mt-3">
        <div class="col-md-4">
            <a class=" inline-flex flex-col w-full md:w-1/2-2 border
                p-4 md:odd:mr-2 md:even:ml-2 mb-4">
                <span class="font-body text-sm text-gray-700">Total withdraw</span>
                <span class="font-display text-xl font-semibold py-3">
                 <strong> {{total_withdrawal | currency}} </strong>
                </span>
            </a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
               <div>
                <h2 class="">My withdraw history</h2>
               </div>
               <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                    <div
                    class="inline-block min-w-full shadow-md  rounded-lg overflow-hidden"
                    >
                    <table class="min-w-full leading-normal ">
                        <thead>
                            <tr>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs  text-gray-700  tracking-wider">
                                 Address
                                </th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs  text-gray-700  tracking-wider">
                                Amount 
                                </th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs  text-gray-700  tracking-wider">
                                Withdraw method
                                </th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs  text-gray-700  tracking-wider">
                                Amount
                                </th>
                                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs  text-gray-700  tracking-wider">
                                Withdraw status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of withdraws">
                                <td class="px-5 py-2 border-b border-gray-200 bg-white text-sm">
                                <div class="flex">
                                    <div class="">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                        {{item?.token}}
                                        </p>
                                    </div>
                                </div>
                                </td>
                                <td class="px-5 py-2 border-b border-gray-200 bg-white text-sm">
                                <p class="text-gray-900 whitespace-no-wrap">{{item?.requested_amount | currency}}</p>
                                </td>
                                <td class="px-5 py-2 border-b border-gray-200 bg-white text-sm">
                                <p class="text-gray-900 whitespace-no-wrap">{{item?.withdraw_method}}</p>
                                </td>
                                <td class="px-5 py-2 border-b bg-white border-gray-200 text-sm">
                                    <p class="text-gray-900 whitespace-no-wrap">
                                        {{item?.created_at | date}}
                                    </p>
                                </td>
                                <td *ngIf="item?.withdraw_status" class="px-5 py-2 border-b border-gray-200 bg-white text-sm">
                                <span
                                    class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight"
                                    *ngIf="item?.withdraw_status == 'approved'"  >
                                    <span
                                    aria-hidden
                                    class="absolute inset-0 bg-green-200 opacity-50 rounded-full"
                                    ></span>
                                    <span class="relative">{{item?.withdraw_status}}</span>
                                </span>
                                <span
                                class="relative inline-block px-3 py-1 font-semibold text-red-900 leading-tight"
                                *ngIf="item?.withdraw_status === 'pending'" >
                                <span
                                aria-hidden
                                class="absolute inset-0 bg-red-200 opacity-50 rounded-full"
                                ></span>
                                <span class="relative">{{item?.withdraw_status}}</span>
                            </span>
                                </td>
                                <!-- <td *ngIf="item?.withdraw_status == 'pending' || 'declined'" class="px-5 py-2 border-b border-gray-200 bg-white text-sm">
                                    <span
                                        class="relative inline-block px-3 py-1 font-semibold text-red-900 leading-tight"
                                    >
                                        <span
                                        aria-hidden
                                        class="absolute inset-0 bg-red-200 opacity-50 rounded-full"
                                        ></span>
                                        <span class="relative">{{item?.withdraw_status}}</span>
                                    </span>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                    </div>
               </div>
        </div>
    </div>
</main>