    
   <div>
        <!-- header start  -->
        <header class="main-header">
            <div class="container">
                <div class="top-header">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="topbar-left">
                                <li><a href="mailto:moneywealthpro@gmail.com">
                                    <span><i class="fa fa-envelope"></i></span>
                                     moneywealthpro@gmail.com
                                    </a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="topbar-right">
                                <!-- <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li ><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li ><a href="#"><i class="fab fa-instagram"></i></a></li> -->
                                <ng-container *ngIf="!user_data">
                                    <li><a [routerLink]="'/core/login'"><span><i class="fa fa-user"></i></span> Login </a></li>
                                    <li><a [routerLink]="'/core/register'"><span><i class="fa fa-user"></i></span> Get Started </a></li>
                                </ng-container>
                                <ng-container *ngIf="user_data">
                                    <li>
                                        <a [routerLink]="'/core/investor/dashboard'"><span><i class="fa fa-user"></i></span> Dashboard </a>
                                    </li>
                                    <li>
                                        <a (click)="logout()"> Logout </a>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </div>
                <nav class="main-navbar">
                    <div class="nav-inner">
                        <a [routerLink]="'/home'" class="brand">
                            <img src="../../../assets/images/purple_logo.png" alt="img">
                        </a>
                        <ul class="desktop-menu">
                            <li><a  [routerLink]="'/home'" routerLinkActive="active">Home</a>
                            </li>
                            <li><a [routerLink]="'/plans'" routerLinkActive="active">Investment Plan</a></li>
                            <li><a [routerLink]="'/about'" routerLinkActive="active">About Us</a></li>
                            <li><a [routerLink]="'/faq'" routerLinkActive="active">Faq</a></li>
                            <!-- <li><a [routerLink]="'/blog'" routerLinkActive="active">blog</a></li> -->
                            <li><a [routerLink]="'/contact'" routerLinkActive="active">Contact</a></li>
                        </ul>
                        <div class="mobile-header">
                            <div class="menu-icon">
                                <div class="open-menu"><i class="far fa-bars"></i></div>
                                <div class="close-menu"><i class="far fa-times"></i></div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="mobile-menu">
                    <ul>
                        <li><a [routerLink]="'/home'" routerLinkActive="active" >Home</a></li>
                        <li><a [routerLink]="'/plans'" routerLinkActive="active"> Investment Plan</a></li>
                        <li><a [routerLink]="'/about'" routerLinkActive="active">About Us</a></li>
                        <li><a [routerLink]="'/faq'" routerLinkActive="active">Faq</a></li>
                        <li><a [routerLink]="'/blog'" routerLinkActive="active">blog</a></li>
                        <li><a [routerLink]="'/contact'" routerLinkActive="active">Contact</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- header end  -->
    </div>