<div class="modal-body">
    <div >
        <h2>Tell us a story</h2>
        <p>Tell a story about us to others!</p>
        <div class="inner-list">
            <form class="mt-4" [formGroup]="storyForm">
                <div class="">
                    <textarea  formControlName="testimony" placeholder="Enter a story or testimony" cols="30" rows="10"></textarea>
                </div>
            </form>
        </div>
        <div class="text-right mt-3 d-flex">
            <a class="update mr-2" (click)="updateStory()">
                Submit a story
            </a>
            <a (click)="close()" class="close">
                Close
            </a>
        </div>
    </div>
</div>