<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2 >Dashboard</h2>
      <div class="form-wraper float-right">
        <p class="mr-3 hide"><strong class="hide">Share referral link</strong></p>
        <input type="email" value="{{hostname}}" placeholder="Enter email*" readonly>
        <button class="theme-btn" (click)="copy(hostname)" type="button">Copy</button>
      </div>
    </div>
    <div class="row mb-3">
       <div class="col-md-4">
        <a class=" inline-flex flex-col w-full md:w-1/2-2 border
            p-4 md:odd:mr-2 md:even:ml-2 mb-4">
            <span class="font-body text-sm text-gray-700"><strong>Total approved withdrawal </strong></span>
            <span class="font-display text-xl font-semibold py-3">
             <strong> {{total_withdrawal | currency}} </strong>
            </span>
        </a>
        </div>
        <div class="col-md-4">
          <a class=" inline-flex flex-col w-full md:w-1/2-2 border
              p-4 md:odd:mr-2 md:even:ml-2 mb-4">
              <span class="font-body text-sm text-gray-700">  <strong>Invested</strong></span>
              <span class="font-display text-xl font-semibold py-3">
               <strong> {{total_investment_balance | currency}} </strong>
              </span>
          </a>
      </div>
      <div class="col-md-4">
        <a class="inline-flex d-flex flex-col w-full md:w-1/2-2 border
        p-4 md:odd:mr-2 md:even:ml-2 mb-4">
        <span class="font-body text-sm text-gray-700">
          <strong>Confirmed Deposited Amount </strong> 
        </span>
        <span class="font-display text-xl font-semibold py-3">
           {{total_deposited_amount | currency}}
        </span>
       </a>
    </div>
    </div>
    <!-- <div class="row mt-3">
        <div class="col-md-6">
            <div class=" mx-auto">

            </div>
        </div>
        <div class="col-md-6">
            <div class="mx-auto sm:px-8">
                <div class="py-8">
                  <div>
                    <h2 class="">Recent Transactions</h2>
                  </div>
                  <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                    <div class="inline-block min-w-full shadow-md  rounded-lg overflow-hidden">
                      <table class="min-w-full leading-normal ">
                        <thead>
                          <tr>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                                Name
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                              Date
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="px-5 py-2 border-b border-gray-200 bg-white text-sm">
                              <div class="flex">
                                <div class="">
                                  <p class="text-gray-900 whitespace-no-wrap">
                                   John Doe
                                  </p>
                                </div>
                              </div>
                            </td>
                            <td class="px-5 py-2 border-b border-gray-200 bg-white text-sm">
                              <p class="text-gray-900 whitespace-no-wrap">Sept 28, 2019</p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-md-12">
            <div class="" *ngIf="referrals?.length != 0">
                <div class="py-2">
                  <div>
                    <h2 class="">Your referred users</h2>
                  </div>
                  <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                    <div
                      class="inline-block min-w-full shadow-md  rounded-lg overflow-hidden">
                      <table class="min-w-full leading-normal ">
                        <thead>
                          <tr>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                             Username
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                              Email
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                              Name
                            </th>
                            <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider">
                              Date
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of referrals">
                            <td class="px-5 py-2 border-b border-gray-200 bg-white text-sm">
                              <div class="flex">
                                <div class="">
                                  <p class="text-gray-900 whitespace-no-wrap">
                                    {{item?.user?.username}}
                                  </p>
                                </div>
                              </div>
                            </td>
                            <td class="px-5 py-2 border-b border-gray-200 bg-white text-sm">
                              <p class="text-gray-900 whitespace-no-wrap"> {{item?.user?.email}}</p>
                            </td>
                            <td class="px-5 py-2 border-b border-gray-200 bg-white text-sm">
                              <p class="text-gray-900 whitespace-no-wrap"> {{item?.user?.name}}</p>
                            </td>
                            <td class="px-5 py-2 border-b border-gray-200 bg-white text-sm">
                              <span
                                class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight"
                              >
                                <span
                                  aria-hidden
                                  class="absolute inset-0 bg-green-200 opacity-50 rounded-full"
                                ></span>
                                <span class="relative"> {{item?.user?.created_dt | date}}</span>
                              </span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>
            <div class=" card text-center" *ngIf="referrals?.length === 0">
                <h2>No referral yet!</h2>    
            </div>
        </div>
    </div>
</main>
<notifier-container></notifier-container>