<div class="modal-body">
    <div >
        <p>My Referral Earnings </p> 
        <div class="inner-list">
            <a *ngFor="let item of referrals" 
            class="flex flex-shrink-0 items-center rounded-t rounded-br border px-6 py-4 mb-4"   style="background-color: #fff; border-color: rgb(207, 219, 224); padding-top: 15px; padding-bottom: 15px;">
                <strong class="mr-2">
                    {{item?.user?.name}}
                </strong>
            </a>
        </div>
        <div class="text-right mt-3">
            <a (click)="close()" class="close">
                Close
            </a>
        </div>
    </div>
</div>