/* You can add global styles to this file, and also import other style files */
/* @tailwind base; */
@import "~angular-notifier/styles";
@tailwind components;
@tailwind utilities;
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(37, 63, 101, 0.3);
}
*::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 1ex;
  background: rgba(37, 63, 101, 0.3);
}
body {
  background: rgb(231, 254, 248)
}
a {
    cursor: pointer;
}
.nav-link.disabled {
  pointer-events: none !important;
  cursor: not-allowed !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
