   <!-- footer  section start  -->
   <footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="left">
                    <div class="py-2">
                        <a href="/home" class="logo">
                            <img src="../../../../assets/images/white_logo.png"  alt="img">
                           </a>
                    </div>
                    <p> 
                        MoneyWealthPro priotity is safe investment for the future, 
                        working with great clients and continued 
                        pre-vetted investment. Invest with us today, we look forward to working with you.
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="footer-item">
                    <h3>Useful Link</h3>
                    <ul>
                       
                        <li><a href="/"><i class="fal fa-angle-right"></i>Terms & condition</a></li>
                        <li><a href="/"><i class="fal fa-angle-right"></i>Privacy & Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-item contact_item">
                    <h3>Contact Info</h3>
                    <ul>
                        <li><a href="/about"><i class="fal fa-angle-right"></i>About us</a></li>
                        <li><a href="/faq"><i class="fal fa-angle-right"></i>Faq</a></li>
                        <li><a href="/plans"><i class="fal fa-angle-right"></i>Investment plans</a></li>
                        <li><a href="/contact"><i class="fal fa-angle-right"></i>Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-item footer-gallery">
                    <h3>Newsletter</h3>
                    <form>
                        <input type="email" placeholder="Enter your email*">
                        <button type="submit" class="theme_btn">Subscribe <i class="fa fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="bottom-left">
                <span>Copyright &copy; <a href="#">MoneyWealthPro</a> 2022. All rights reserved</span>
            </div>
        </div>
    </div>
</footer>
<!-- footer  section end  -->