   <!-- footer  section start  -->
   <footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="left">
                    <!-- <a href="#" class="logo"><img src="assets/images/footer-logo.png" alt="img"></a> -->
                    <!-- <p> 
                        MoneyPro have much planned for the future, 
                        working with great clients and continued 
                        blockchain investment. If you'd like to invest our company,
                        then we'd also love to hear from you.
                    </p> -->
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li ><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li ><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="footer-item">
                    <h3>Useful Link</h3>
                    <ul>
                        <li><a href="contact-us.html"><i class="fal fa-angle-right"></i>Manage Account</a></li>
                        <li><a href="contact-us.html"><i class="fal fa-angle-right"></i>How to Deposit</a></li>
                        <li><a href="contact-us.html"><i class="fal fa-angle-right"></i>How to Withdraw</a></li>
                        <li><a href="contact-us.html"><i class="fal fa-angle-right"></i>Account Info</a></li>
                        <li><a href="contact-us.html"><i class="fal fa-angle-right"></i>Safety & Security</a></li>
                        <li><a href="contact-us.html"><i class="fal fa-angle-right"></i>Membership Level</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-item contact_item">
                    <h3>Contact Info</h3>
                    <!-- <ul>
                        <li><a href="contact-us.html"><i class="far fa-map-marker-alt"></i>Street#27 Division St, <br> New York, 10002 BDS, U.S.A</a></li>
                        <li><a href="contact-us.html"><i class="fas fa-phone-volume"></i>+80 (123) 985 789 521</a></li>
                        <li><a href="contact-us.html"><i class="far fa-envelope"></i>admin@s7Template.com</a></li>
                        <li><a href="contact-us.html"><i class="fas fa-globe"></i>www.s7template.com</a></li>
                    </ul> -->
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-item footer-gallery">
                    <h3>Newsletter</h3>
                    <form>
                        <input type="email" placeholder="Enter your email*">
                        <button type="submit" class="theme_btn">Subscribe <i class="fa fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="bottom-left">
                <span>Copyright &copy; <a href="#">MoneyWealthPro</a> 2022. All rights reserved</span>
            </div>
        </div>
    </div>
</footer>
<!-- footer  section end  -->